<header id="header">

  <div class="logo">
    {% include icon-ghostink-logo-white.svg.html %}
    <h4>Simple custom kits delivered to you</h4>

    <div class="ea-signup">
      <p>Request invite to get exclusive early access</p>

      <form name="beta-signup" netlify>
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" placeholder="Enter your email">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="submit">Send</button>
          </div>
        </div>

      </form>

    </div>

</header>