<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
   {% include head.html %}
</head>

<body>

  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Header
		============================================= -->
    {% include header.html %}
    <!-- #header end -->

    <!-- Content
    ============================================= -->
    {{ content }}
    <!-- #content end -->

    <!-- Footer
		============================================= -->
    {% include footer.html %}
    <!-- #footer end -->

  </div>
  <!-- #wrapper end -->

  <!-- Go To Top
	============================================= -->

  <!-- External JavaScripts
	============================================= -->

  <!-- Footer Scripts
	============================================= -->

</body>

</html>